#root {
  /*max-width: 1280px;*/
  margin: 0 auto;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.tile {
  width: 50px;
  height: 50px;
  margin: 2px;
}

.tile-row {
  display: flex;
}

@keyframes pulse {
  0% {
    box-shadow: #5f5f5f 0px 0px 0px 0px;
    opacity: 1;
  }
  50% {
    box-shadow: #5f5f5f 0px 0px 0px 7px;
    opacity: 0.25;
  }
  100% {
    box-shadow: #5f5f5f 0px 0px 0px 0px;
    opacity: 1;
  }
}

.selected {
  animation: pulse 0.7s infinite;
}

.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms;
}

.fade-exit {
  width: 0;
  opacity: 1;
}

.fade-exit-active {
  width: 0;
  opacity: 0;
  transition: opacity 500ms;
}

.game-info-text {
  color: white;
  /*-webkit-text-stroke: 1px #000;*/
  text-shadow:
    3px 3px 0 #000,
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;

}